@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color' as c; 

.schedule {
    @include m.container;
    padding: 3rem 0;
}

.events {
    $modifier: &;
    
    &__heading {
        color: v.$blue;
        margin: 5rem 0;
        text-align: left;
        font-size: clamp(2rem, 0.8rem + 8vw ,6rem);
    }

    &__date {
        color: v.$gray;
        margin: 3rem 0 1rem 0;
    }

    &--workshops {
        #{$modifier}__heading {
            color: v.$turquoise;
        }

        .event__content {
            background-color: v.$turquoise;
            &:hover {
                background-color: c.adjust(v.$turquoise, $lightness: -10%);
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: rgba(v.$white, .5);
    }
}

.event {
    &__hour {
        font-weight: v.$bold;
    }

    &__name {
        font-size: 2.4rem;
        margin: 0;

        &--short {
            @include m.tablet {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }

    &__content {
        padding: 2rem;
        border-radius: 1rem;
        background-color: v.$blue;
        color: v.$white;
        transition: 300ms background-color ease;
        
        &:hover {
            background-color: c.adjust(v.$blue, $lightness: -10%);
        }
    }

    &__information {
        font-size: 1.6rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include m.tablet {
            -webkit-line-clamp: 2;
        }
    }

    &__speaker {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
    }

    &__speaker-img {
        width: 5rem;
        background-color: v.$white;
        border-radius: 50%;
    }

    &__speaker-name {
        font-weight: v.$bold;
    }

    &__add {
        @include m.button(v.$white, v.$black, 1rem);

        & {
            width: 100%;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: .5;
        }
    }
}